.container {
  display: flex;
  width: 220px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  padding: 10px 0px;
}

.label {
  display: block;
}

.input{
    width: 200px;
}

.containerButton {
  margin-top: 10px;
}

.button {
  margin: 0 auto;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #000000;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 6px 8px;
}

.container {
  display: flex;
  width: 220px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #000000;
}

.error{
  color: red;
  margin-bottom: 10px;
}